#Prod docker env file
config/.env.dev
config/.env.prod
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*

# Local .terraform directories
**/.terraform/*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
